<div class="park-map-wrapper">

  <div class="header-section">
    <h3 class="title-main">Huntley Meadows </h3>
    <h5 class="title-sub">Park Map</h5>
  </div>

  <div id="park-map"></div>

  <div class="controls-section">
    <div class="control-title">Points of Interest</div>
    <br>
    <form [formGroup]="checkboxGroupForm">
      <div class="btn-group btn-group-toggle">
        <label class="btn-secondary button-get-started" ngbButtonLabel>
          <input type="checkbox" (click)="togglePoi(poi_getStarted)" formControlName="left" ngbButton><span class="circle">&#9679;</span> Get Started
        </label>
        <label class="btn-secondary button-facilities" ngbButtonLabel>
          <input type="checkbox" (click)="togglePoi(poi_facilities)" formControlName="middle" ngbButton><span class="circle">&#9679;</span> Facilities
        </label>
        <label class="btn-secondary button-local-favorites" ngbButtonLabel>
          <input type="checkbox" (click)="togglePoi(poi_localFavorites)" formControlName="right" ngbButton><span class="circle">&#9679;</span> Local Favorites
        </label>
      </div>
    </form>
    <div class="control-title">Recommended Walking Routes</div>
    <br>
    <div ngbDropdown placement="top-left" class="d-inline-block">
      <button [ngClass]="{'active': currentRouteName !== noRouteSelectedString }" class="btn btn-secondary" id="dropdownBasic2" ngbDropdownToggle><span class="line">&#9644;</span> {{currentRouteName}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
        <button (click)="updateRoute(1)" ngbDropdownItem><strong>Definitive Double-Loop</strong></button>
        <button (click)="updateRoute(2)" ngbDropdownItem><strong>Boardwalk Bend</strong></button>
        <button (click)="updateRoute(3)" ngbDropdownItem><strong>Forest Finish</strong></button>
        <button (click)="updateRoute(0)" ngbDropdownItem><em>(Clear)</em></button>
      </div>
    </div>

  </div>

</div>