.park-map-wrapper {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  bottom: 0;

  /* Bootstrap overrides */
  .btn-secondary {
    color: black;
    background-color: hsl(44, 50%, 79%);

    &.active {
      background-color: hsl(45, 48%, 58%);
    }
  }

  $header-section-height: 60px;
  $controls-section-height: 180px;

  .header-section {
    height: $header-section-height;
    color: white;
    -webkit-text-shadow: 0 0 5px rgba(0, 0, 0, 1.0);
    -moz-text-shadow: 0 0 5px rgba(0, 0, 0, 1.0);
    text-shadow: 0 0 5px rgba(0, 0, 0, 1.0);

    background:
      linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, .5)),
      url("/assets/img/hm-merganser-family-banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @mixin title-text($margin) {
      display: inline-block;
      padding: 0;
      margin: $margin;
      position: relative;
      z-index: 100;
    }

    .title-main {
      @include title-text($margin: 13px);
    }

    .title-sub {
      @include title-text($margin: 13px 13px 13px 0px);
    }

  }

  #park-map {
    height: calc(100% - #{$header-section-height + $controls-section-height});
    width: 100%;
  }

  .controls-section {
    height: $controls-section-height;
    background-color: hsl(45, 64%, 91%);
    // background-color: hsl(45, 97%, 97%);
    border-top: 2px solid hsl(46, 31%, 14%);
    padding: 0 15px 15px 15px;

    .control-title {
      display: inline-block;
      margin-top: 15px;
      padding: 2px 4px 2px 4px;
      background-color: white;
      font-weight: 600;
    }
  }
}